.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: darkcyan;
}

h3 {
  font-size: 32px;
  padding-left: 32px;
  color: darkgray;
}

.big-button {
  padding: 16px;
  background-color: darkturquoise;
  color:gray;
  font-size: 16px;
}

p {
  font-size: 24px;
  color: darkgray;
}