.main-container {
  margin: 0 auto;
  max-width: 1300px;
  background-color: darkgrey;
  /* min-height: 80vh; */
  border-radius: 4px;
  box-shadow: 6px 6px 16px 8px dimgray;
}

h1 {
  margin: 16px 0;
  color: darkcyan;
  text-align: center;
}

.pparent {
  padding: 16px 0;
  color: dimgray;
  font-size: 16px;
  font-weight: 700;
}

.divDirective {
  padding: 16px 0;
  background: darkslateblue;
}

.services {
  padding: 24px;
  background-color: darkseagreen;
  min-height: 30vh;
}